@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu Mono', monospace;
    color: #383838;
}

.img-gradient {
    position: relative;
}
  
.img-gradient::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to top right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.card {
    margin-bottom: 10px;
}

.card:hover {
    background: #383838;
    color: #fff;
}

.card:hover a {
    color: #fff;
}

.accordion-button:not(.collapsed) {
    background: rgba(56, 56, 56, 0.9);
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

h5 {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-left: -30px;
    margin-top: 7px;
}

.separator {
    height: 20px; 
    background-color: #383838;
    margin-bottom: 40px;
}

.accordion-body {
    background-color: #f3f3f3;
}

.error {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 20px;
    background-color: #383838;
    color: #fff;
    margin-bottom: 10px;
    height: 40px;
    padding-top: 5px;
}

.content {
    background-color: #f3f3f3;
    padding: 10px;
}

.btn-custom {
    background-color: #383838 !important;
    color: #fff;
}

.btn-custom:hover {
    background-color: rgba(56, 56, 56, 0.9) !important;
    color: #fff;
}

.a {
    text-decoration: none;
    color: #383838;
}

.a:hover {
    color: #fff;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .accordion {
        width: 100%; 
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .accordion {
        width: 80%; 
        margin: 0 auto;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .accordion {
        width: 80%; 
        margin: 0 auto;
    }
}